doctype html
html(lang="en")
	head
		title demo
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block metadata
		link(rel="stylesheet" href="/static/styles/bootstrap.min.css")
		link(rel="stylesheet" href="/static/styles/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="/static/script/bootstrap.min.js")
		script( src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
	body
		block content