extends ./_shared/master

block metadata
	meta(id="code" name="code", content=code)
block content
	script( src="/static/script/info.js")
	div.container-fluid
		div.center-screen
			div Balance
			div CCy
		