.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
   
  }
#modal {
    height: 500px;
}

.large-text {
    font-size: 200%;
}
